# Ignore the .env file (for security reasons)
.env

# Ignore Python bytecode files
*.pyc
__pycache__

# Ignore virtual environment folder
venv/

# Ignore ChromaDB persistence directory
db/
!db/app.py  # Explicitly include app.py

# Ignore Streamlit config file
.config/

# Ignore IDE/editor files
.idea/
.vscode/
*.swp
